@tailwind base;
@tailwind components;
@tailwind utilities;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Pacifico&display=swap');

// Breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1500px;

// Colors
$main: #f41c32;
$secondary: #003d4f;
$blue: #0da1e7;

body {
    font-family: 'Montserrat', sans-serif;
}

// Utilities
.pacifico {
    font-family: 'Pacifico', 'Montserrat', sans-serif;
}

.links {
    a {
        transition: all .2s ease-in-out;

        &:hover {
            color: $secondary;
        }
    }
}

.social {
    gap: 1rem;

    .social-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 35px;
        height: 35px;

        background-color: white;
        border-radius: 100%;

        font-size: 20px;
        color: $main;

        transition: all .2s ease-in-out;

        &:hover {
            background-color: $secondary;
        }
    }
}

.btn-brand {
    color: white;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;

    background-color: $secondary;
    border: 2px solid $secondary;
    border-radius: 1rem;

    padding: 15px 24px;

    transition: all .2s ease-in-out;

    &:hover {
        color: $secondary;
        font-weight: 500;

        background-color: transparent;
    }
}

// Navbar
.navbar {
    background-color: $main;

    .logo {
        max-width: 4rem;
    }

    #toggleBtn {
        width: 80px;
        height: 80px;
        transition: all .5s ease-in-out;
        /* border: 3px solid white; */
    }

    #toggleBtn .icon,
    #toggleBtn .icon::before,
    #toggleBtn .icon::after {
        width: 35px;
        height: 3px;
        background-color: white;
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }

    #toggleBtn .icon::before {
        content: '';
        position: absolute;
        left: 0;
        transform: translateY(-10px);
    }

    #toggleBtn .icon::after {
        content: '';
        position: absolute;
        left: 0;
        transform: translateY(10px);
    }

    #toggleBtn.open .icon {
        transform: translateX(-50px);
        background: transparent;
    }

    #toggleBtn.open .icon::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    #toggleBtn.open .icon::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    #sidebar {
        right: -100vw;
        width: 100%;
        background-color: $main;
    }

    @media (min-width: $sm) {
        #sidebar {
            width: 60%;
        }
    }

    @media (min-width: $lg) {
        #sidebar {
            width: 30%;
        }
    }

    @media (min-width: $xl) {
        #sidebar {
            width: 15%;
        }
    }
}

// Footer
.footer {
    background-color: $main;

    .logo {
        max-width: 200px;
    }

    em {
        font-style: normal;
        font-size: 22px;
        color: $secondary;
    }

    .slogan {
        letter-spacing: 2px;
    }

    .location {
        letter-spacing: 1px;
    }
}

.bg-main {
    background-image: url(/assets/img/home/bg-2.webp);
    background-size: cover;
    background-repeat: repeat-y;
    background-color: white;
}

// Main - Presentation
.presentation {
    background-image: url(/assets/img/home/bg-1.webp);
    background-size: cover;
    background-repeat: no-repeat;

    margin-top: 89px;

    @media (min-width: $xl) {
        background-position-y: -85px;
    }
}

// Main - Waiting
.waiting {
    font-weight: 500;
    color: $secondary;
    padding-bottom: 6rem;

    @media (min-width: $md) {
        padding-bottom: 12rem;
    }

    @media (min-width: $lg) {
        padding-bottom: 17rem;
    }

    @media (min-width: $xl) {
        padding-bottom: 21.5rem;
    }

    @media (min-width: $xxl) {
        padding-bottom: 25.5rem;
    }

    .phrase {
        max-width: 300px;

        &:last-child {
            max-width: 500px;
        }
    }

    .decorator {
        // top: -32rem;

        img {
            transform: scale(1.01);
        }
    }
}

// Main - Menu Ad
.menu-ad {
    background-image: url(/assets/img/home/bg-3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: $main;

    @media (min-width: $lg) {
        padding-top: 10rem;
    }

    .max-w-screen-lg {
        min-height: 600px;

        @media (min-width: $md) {
            min-height: 1000px;
        }
    }

    .content {
        @media (min-width: $lg) {
            max-width: 65%;
        }
    }

    .cokin {
        max-width: 75px;
        bottom: -8%;
        right: 25%;

        @media (min-width: $md) {
            max-width: 115px;
            bottom: -5%;
            right: 35%;
        }

        @media (min-width: $lg) {
            max-width: 350px;
            top: 20%;
            right: -10vw;
        }
    }

    .dialog {
        max-width: 125px;
        bottom: 19%;
        right: 39%;

        @media (min-width: $md) {
            max-width: 200px;
            bottom: 19%;
            right: 45%;
        }

        @media (min-width: $lg) {
            max-width: 350px;
            top: 16%;
            right: 12vw;
        }

        @media (min-width: $xl) {
            right: 3vw;
        }
    }
}

// Animations
.bg-animation {
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from {
        background-position-y: -85px;
    }

    to {
        background-position-y: -75px;
    }
}

// Asi nomas - Us
.us {
    background-image: url(/assets/img/us/bg-1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 60%;

    margin-top: 89px;

    .container {
        min-height: 600px;
    }

    .decorator {
        bottom: -4rem;
    }

    .img {
        z-index: 15;
        max-width: 550px;
    }

    .circle {
        &.light {
            transform: translate(20px, -30px);
        }

        &.dark {
            transform: translate(-15px, 30px);
        }
    }

    .star {
        &.right {
            max-width: 50px;
            right: -5%;
            bottom: 15%;
        }

        &.left {
            max-width: 70px;
            left: -12%;
            top: 14%;
        }
    }

    .content {
        color: $secondary;
        max-width: 90%;

        @media (min-width: $lg) {
            max-width: 50%;
        }

        h1 {
            color: $blue;
        }

        p {
            font-weight: 500;

            @media (min-width: $xl) {
                max-width: 80%;
            }
        }
    }
}

// Asi nomas - What
.what {
    background: url(/assets/img/us/bg-2.webp), linear-gradient(white 50%, $main 50%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    min-height: 1000px;

    @media (min-width: $md) {
        min-height: 1100px;
    }

    .max-w-screen-sm {
        top: -5rem;
    }

    .img {
        max-width: 200px;
    }

    .phrase {
        @media (min-width: $lg) {
            transform: scale(1.5);
        }
    }

    .content {
        font-weight: 500;
        color: $secondary;
        max-width: 88%;

        h2 {
            font-size: 21px;
            font-style: normal;
            color: $blue;
            
            em {
                color: $main;
            }
        }
    }

}

// Contacto
